@import url(../css/header.css);
@import url(../css/footer.css);
@import url(../css/subnav.css);
@import url(../css/make-table.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

main {
  display: flex;
  justify-content: center;

  background: rgb(15, 16, 32);
  background: linear-gradient(
    180deg,
    rgba(15, 16, 32, 1) 0%,
    rgba(22, 24, 48, 1) 37%
  );
}


.container-active {
  background-color: #272a4e;
}

/* body --------------------------------------*/
.container-body {
  width: 100%;
  height: 650px;
  overflow-y: scroll;

  background: linear-gradient(
    183deg,
    rgba(65, 70, 119, 1) 0%,
    rgba(29, 32, 62, 1) 100%
  );

  padding: 30px;
}


/* body */
.body {
  height: 650px;
  width: 100%;

  overflow: hidden;
}

.container-body::-webkit-scrollbar {
  display: none;
}

/* content */
.content {
  display: flex;
  flex-direction: column;
  
  gap: 50px;

  width: 1100px;
  height: auto;
}



/* form */
form{
 align-self: center;
  font-family: 'SF Compact Displays', sans-serif;
  color: #fff;
}

h4{
    font-family: 'SF Compact Displays', sans-serif;
    color: #fff;
    font-size: 14px;
}

h2{
    padding-top: 30px;
}

p{
    padding-bottom: 20px;
}
.title-of-section {
    display: flex;
    align-items: center;

  
    font-family: "SF Compact Display", sans-serif;
    font-size: 40px;
    font-weight: 400;
  
    color: #cdabff;

  
    margin-bottom: 10px;
    padding-left: 200px;
    border-bottom: 1px solid #c8c8c8;
  }



/* input */
input{
  height: 30px;
  border-radius: 7px;

  font-family: 'Lato';
  font-size: 14px;
}

.textarea-short{
  width: 680px;
  height: 170px;
  border-radius: 7px;

  font-family: 'Lato';
  font-size: 14px;
}

.helptopic{
    width: 150px;
    height: 25px;
    border-radius: 7px;
  
    font-family: 'Lato';
    font-size: 14px;
}

.textarea-long{
  width: 800px;
  height: 300px;
  border-radius: 7px;

  font-family: 'Lato';
  font-size: 14px;
}

/* btn */
.btn{
  padding: 7px 14px 7px 14px;
  border-radius: 7px;
  cursor: pointer;

  border: #171932;
  background-color: #171932;
  color: #fff;
  font-family: 'SF Compact Display', sans-serif;
}

/* checkbox */
input[type='checkbox'] {
  width: 17px;
  height: 17px;
  border-radius: 7px;

  font-family: 'Lato';
  font-size: 14px;

}

