*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    height: auto;
    width: 100%;
}
  
  
header{
    height: 50px;
    background: #272A4E;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
  
ul{
    display: flex;
    list-style-type: none;
}
  
ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 12px;
    font-weight: 510;
    opacity: .60;
    letter-spacing: .3px;
  
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
  
ul li a:hover {
    color: #ffffff ;
    text-shadow:0px 0px 30px #b098d7;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  
    opacity: 1;
}
  
.action-bar{
    display: flex;
}
  
.action-bar a{
    opacity: 1;
}
  
.logo{
    position: relative;
    font-size:8px;
    color: #fff;
    font-family: 'Akira Expanded', sans-serif;
}
  
.logo img{
    width: 17px;
    padding-bottom: 4px;
}
  
.logo h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.logo a{
    text-decoration: none;
    color: #fff;
}
  
.action-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 300px;
}
  
.action-bar li{
    padding-left: 30px;
}
    
.action-bar .icon{
    width: 15px;
}
  
.action-bar .image-profile img{
    width: 25px;  
}
  

/* sub nav ----------------------------------------------------*/
#sub-nav{
    height: 30px;
    background: rgb(24,26,49);
    background: linear-gradient(180deg, rgba(24,26,49,1) 0%, rgba(30,33,63,1) 70%, rgba(30,33,63,1) 100%);

    padding-top: 1px;
    padding-left: 57px;
  
    display: none;
}

nav{
    display: flex;
    align-items: center;
    padding-top: 3px;
}
  
#sub-nav #nav-sub-nav ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 510;
    opacity: .60;
    letter-spacing: .3px;
    font-size: 12px;
}
  
#sub-nav a img{
    padding-left: 7px;
    width: 15px;
}
/* end of sub nav ----------------------------------------------------*/
  

/* footer ------------------------------------------------------*/
.footer-container{
    max-width: 1500px;
    background-color: #272A4E;
    margin: auto;
}
  
.row{
    display: flex;
    flex-wrap: wrap;
}
  
ul{
    list-style: none;
}

.footer{
    background-color: #272A4E;
    padding: 70px 0;
    font-family: 'SF Pro Display', sans-serif;
} 
  
.footer-col{
    width: 25%;
    padding: 0 70px;
}
  
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
  
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #B361E8;
    height: 2px;
    box-sizing: border-box;
    width: 50px
}
  
.footer-col ul li:not(:last-child){
    margin-bottom: 20px;
}
  
.footer-col ul li a{
    font-size: 20px;
    text-transform: capitalize;
    color: #b8acac;
    text-decoration: none;
    font-weight: 300;
    transition: all 0.3s ease;
}
  
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
  
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #383e84;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}
  
.trademark{
    display: inline-block;
    background-color: #272A4E;
    margin-top: 50px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.trademark h4{
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    opacity: .60;
}
/* end of footer ------------------------------------------------------*/


/* main CSS -----------------------------------------------------------------------------*/
main{
    display: flex;
    justify-content: center;
    
    background: rgb(15,16,32);
    background: linear-gradient(180deg, rgba(15,16,32,1) 0%, rgba(22,24,48,1) 37%);
}

.container-main{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: auto;
    width: 1200px;

    margin: 40px auto;
}

.upper{
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    height: 473px;
    width: 1200px;
}

.box1{
    width: 377px;
    height: 100%;

}

.box2{
    width: 270px;
    height: 100%;
}

.box2 a{
    color: white;
}

.box3{
    width: 377px;
    height: 100%;
}

.box1{
    position: relative;

    display: flex;
    flex-direction: column;

    width: auto;
}

.big-pic{

    width: 377px;
    height: 388px;
}

.big-pic img{

    width: 377px;
    height: 388px;
    border-radius: 7px;
}

.pics{
    position: absolute;
    bottom: 0;

    display: flex; 
    justify-content: center;

    width: 377px;
    height: 68px;
}

.pic1 img, .pic2 img, .pic3 img{
    margin-left: 10px;
    margin-right: 10px;

    width: 68px;
    height: 68px;
    border-radius: 7px;
}
/* end of main CSS --------------------------*/


/* table -----------------------------*/
table.GeneratedTable {
    width: 100%;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;
    color: #ffffff;
    opacity: .60;

    font-family: 'SF Compact Display', sans-serif;
    font-size: 14px;
}
  
table.GeneratedTable td, table.GeneratedTable th {
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;
    padding: 14px;

    text-align: center;
}

.quality{
    width: 135px;
}

.price{
    width: 135px;
}
/* end of table -----------------------------*/


/* box3 -------------------------------------*/
.component-name{
    color: #fff;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 500;

    padding-bottom: 10px;
}

.box3{
    position: relative;
}

.line-a, .line-b{
    width: 377px;
    height: 44px;
    border-bottom: 2px solid #24263d;

    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.quantity{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'SF Pro Display', sans-serif;

    width: 377px;
    height: 50px;

    margin-bottom: 11px;

}

.add-to-cart{
    width: 377px;
    height: 50px;


}

.selections{
    position: absolute;
    bottom: 0;
}
/* end of box3 -------------------------------------*/

/* add to cart ----------------------------*/
.add-to-cart{
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 17px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 500;

    color: #fff;
    width: 100%;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#b85fe8,#28dbe5,#3a88e6, #b85fe8);
    background-size: 300%;
    border-radius: 7px;
    z-index: 1;
}
  
.add-to-cart:hover {
    animation: ani 8s linear infinite;
    border: none;
}
  
@keyframes ani {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
}
  
.add-to-cart:before {
    content: '';
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    position: absolute;
    background: linear-gradient(90deg,#b85fe8,#28dbe5,#3a88e6, #b85fe8);
    background-size: 400%;
    border-radius: 10px;
    transition: 1s;
}

.add-to-cart:hover::before {
    filter: blur(10px);
}
  
.add-to-cart:active {
    background: linear-gradient(32deg,#ffffff,#ffffff,#ffffff, #ffffff);
    /* background: linear-gradient(32deg,#b85fe8,#28dbe5,#3a88e6, #b85fe8); */
}

/* end of add to cart ----------------------------*/


/* input-stepper -----------------------------------*/

.quantity-text{
    color: #fff;
    font-size: 17px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 500;

    margin-right: 15px;
}


.btn-default{
    color: #979797;
    font-size: 14px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 500;

    width: 25px;
    height: 25px;
    border: 2px solid #272a4e;
}


.text-center{
    color: #282828;
    font-size: 17px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 500;

    width: 100px;
    text-align: center;

    border: 2px solid #272a4e;
    border-radius: 7px;

    height: 50px;
}

.quantity-container{
    display: flex;
    justify-content: center;
}

/* end of input-stepper -----------------------------------*/
.line-a{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: #fff;
}

.line-a p{
    opacity: .50;
}

.line-b{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    color: #fff;
}