*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: auto;
}

header{
  height: 70px;
  background: #272A4E;

  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

ul{
  display: flex;
  list-style-type: none;
}

.logo{
  font-family: 'Akira Expanded', sans-serif;
}

ul li a{
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 510;
  opacity: .60;
  letter-spacing: .3px;
  font-size: 14px;
}

.action-bar{
  display: flex;
  padding-left: 20px;
  margin-left: 200px;
}

.logo{
  font-size:10px;
  color: #fff;
}