*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: auto;
}

header{
  height: 50px;
  background: #272A4E;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

header ul{
  display: flex;
  list-style-type: none;
}

.navbar ul li a{
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 510;
  opacity: .60;
  letter-spacing: .3px;
  font-size: 12px;
  position: relative;
}

.navbar ul li a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #B361E8;
  border-radius: 40px;
  transform: scaleX(0);
  transition: transform .3s;
}

.navbar ul li a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}


.action-bar{
  display: flex;
}

.logo{
  position: relative;
  font-size:8px;
  color: #fff;
  font-family: 'Akira Expanded', sans-serif;

}

.logo img{
  width: 17px;
  padding-bottom: 4px;
}

.logo h1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a{
  text-decoration: none;
  color: #fff;
}

.action-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 300px;
}

.action-bar li{
  padding-left: 30px;
}

.action-bar .icon{
  width: 15px;
}

.action-bar .image-profile img{
  width: 25px;
}

.footer-container{
  max-width: 1500px;
  background-color: #272A4E;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;

}
.footer{
  background-color: #272A4E;
  padding: 70px 0;
  font-family: 'SF Pro Display', sans-serif;
} 

.footer-col{
  width: 25%;
  padding: 0 70px;
}

.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #B361E8;
  height: 2px;
  box-sizing: border-box;
  width: 50px
}

.footer-col ul li:not(:last-child){
  margin-bottom: 20px;
}

.footer-col ul li a{
  font-size: 20px;
  text-transform: capitalize;
  color: #b8acac;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 10px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #383e84;
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
}

.trademark{
  display: inline-block;
  background-color: #272A4E;
  margin-top: 50px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.trademark h4{
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  opacity: .60;
}