*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
}


/* header ------------------------*/
header{
  height: 50px;
  background: #272A4E;

  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

nav ul{
  display: flex;
  list-style-type: none;
}

nav ul li a{
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 12px;
  font-weight: 510;
  opacity: .60;
  letter-spacing: .3px;

  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

ul li a:hover {
  color: #ffffff ;
  text-shadow:0px 0px 30px #b098d7;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

  opacity: 1;
}

.action-bar{
  display: flex;
}

.action-bar, .action-bar ul li{
  opacity: 1;
  list-style: none;
}

.logo{
  position: relative;
  font-size:8px;
  color: #fff;
  font-family: 'Akira Expanded', sans-serif;
}

.logo img{
  width: 17px;
  padding-bottom: 4px;
}

.logo h1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a{
  text-decoration: none;
  color: #fff;
}

.action-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 300px;
}

.action-bar li{
  padding-left: 30px;
}
  
.action-bar .icon{
  width: 15px;
}

.action-bar .image-profile img{
  width: 25px;  
}
/* end of header ------------------------*/


/* sub-nav ----------------------*/
#sub-nav{
  height: 25px;
  background: #0e0e0e;
  padding-top: 1px;
  padding-left: 57px;

  display: none;
}

#sub-nav #nav-sub-nav ul li a{
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 510;
  opacity: .60;
  letter-spacing: .3px;
  font-size: 12px;
}

#sub-nav a img{
  padding-left: 7px;
  width: 15px;
}
/* end of sub-nav ----------------------*/

/* main CSS */
main{
  display: flex;
  justify-content: center;

  height: 100%;
  background: rgb(15,16,32);
  background: linear-gradient(180deg, rgba(15,16,32,1) 0%, rgba(22,24,48,1) 37%);
}

.container-main{
  height: auto;
  width: 1054px;

  margin: 40px auto;
}

.box1{
  display: flex;
  justify-content: center;  
  align-items: center;

  font-family: 'SF Pro Display', sans-serif;
  color: #fff;
  font-size: 14px;

  width: 1054px;
  height: 344px;
  -webkit-border-radius: 20px;

  background-image: url(./img/box1.jpg);
  background-size: 1054px 344px;

}

.section-main{

  margin-top: 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 208px;
}

.section-main a{
  text-decoration: none;
}

.section-box1{
  display: flex;
  flex-direction: column;

  padding-left: 12px;
  padding-right: 12px;
  padding-top: 110px;
  /* justify-content: center;
  align-items: center; */

  -webkit-border-radius: 20px;

  width: 320px;
  height: 208px;
  -webkit-border-radius: 20px;

  border: 1px solid #01B7C5;

  background-image: url(./img/section-box1.png);
  background-size: 323px 213px;
  
  box-shadow: 1px 14px 50px -1px rgba(0,0,0,0.77);
  -webkit-box-shadow: 1px 14px 50px -1px rgba(0,0,0,0.77);
  -moz-box-shadow: 1px 14px 50px -1px rgba(0,0,0,0.77);
}

.section-box2{
  display: flex;
  flex-direction: column;

  padding-left: 12px;
  padding-right: 12px;
  padding-top: 110px;
  /* justify-content: center;
  align-items: center; */

  width: 320px;
  height: 208px;
  -webkit-border-radius: 20px;

  border: 1px solid #4c3a81;

  background-image: url(./img/section-box2.png);
  background-size: 323px 213px;
  
  box-shadow: 1px 14px 50px -1px rgba(0,0,0,0.77);
  -webkit-box-shadow: 1px 14px 50px -1px rgba(0,0,0,0.77);
  -moz-box-shadow: 1px 14px 50px -1px rgba(0,0,0,0.77);
}

.section-box3{
  display: flex;
  flex-direction: column;

  padding-left: 12px;
  padding-right: 12px;
  padding-top: 110px;
  /* justify-content: center;
  align-items: center; */

  width: 320px;
  height: 208px;
  -webkit-border-radius: 20px;

  border: 1px solid #713599;

  background-image: url(./img/section-box3.png);
  background-size: 323px 213px;
  
  box-shadow: 1px 14px 50px -1px rgba(0,0,0,0.77);
  -webkit-box-shadow: 1px 14px 50px -1px rgba(0,0,0,0.77);
  -moz-box-shadow: 1px 14px 50px -1px rgba(0,0,0,0.77);
}


h2{
  color: #fff;
  font-family: 'SF Pro Display', sans-serif;
}

p{
  padding-top: 12px;
  color: #fff;
  font-family: 'Lato';
  font-size: 13px;
  opacity: .50;
}


/* article ---------------------------------------------*/

.article1, .article2{
  padding-top: 75px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.article1 img, .article2 img{
  width: 535px;
  height: 330px;
}

.main-title{
  color: #fff;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 30px;
  font-weight: bold;
  opacity: 1;
}

.text{
  padding: 20px;
}

.main-title-description{
  color: #fff;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 14px;


  opacity: .70;
}



/* footer ------------------------------------------------------*/
footer{
  background-color: #272A4E;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 507px;

  font-family: 'SF Pro Display', sans-serif;
  font-weight: 100;
  color: #ffffff;

  position: sticky;
  top: 100%;
}

.footer-container{
  position: relative;
  width: 1053px;
  height: 290px;
}

footer ul li{
  list-style: none;
  text-decoration: none;
}

/* /////////////////////////////////////// */
.socials{
  margin-bottom: 17px;
}

.socials ul, .socials i{
  display: flex;
  align-items: center;
  gap: 17px;
  color: #ccc;
}

.socials ul, .socials a{
  text-decoration: none;
}

.main-footer{
  display: flex;
  margin-bottom: 17px;
  gap: 168px;
}


/* ///////////////////////////////// */
.f-left{
  display: flex;

  margin-bottom: 17px;
  gap: 50px;
  line-height: 1.4;
}

.f-left a{
  text-decoration: none;
  color: #e7e7e7;
}

.fset1{

}

.fset2{

}

.fset3{

}

.fset4{

}

.f-right{
  position: absolute;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 184px;
  height: 90px;
}

.flow{
  color: #cccccc;
  margin-bottom: 17px
}

/* /////////////////////////////////////////// */
.fdown ul{
  display: flex;
  gap: 20px;
}

.fdown a{
  color: #e7e7e7;
  text-decoration: none;
}


/* end of footer ------------------------------------------------------*/