<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="title">Pawns</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/all-gameboxes.css" />

    <!-- icon -->
    <link rel="shortcut icon" type="image" href="/img/logo.png">

    <!-- fonts -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link
      href="https://fonts.cdnfonts.com/css/sf-pro-display"
      rel="stylesheet"
    />
    <link
      href="https://fonts.cdnfonts.com/css/akira-expanded"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link
      href="https://fonts.cdnfonts.com/css/sf-compact-display"
      rel="stylesheet"
    />

    <!-- for text-spinner -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>

  <body>
    <div class="container">
      <my-header></my-header>

      <!-- <my-subnav></my-subnav> -->

      <main>
        <div class="container-main">
            <h2 class="component-name" id="component-name">
                Pawns
            </h2>
            
            <div class="body">

                <div class="content">
                    <a href="#">
                        <div class="section-box1">
                            <div class="section-box-pic">
                                <img src="/img/STKRHUB/GAME-PIECES/Game Pawns/Wooden Pawns 12mmx12mm/Wooden Pawns 12mmx12mm.jpg" alt="">
                            </div>
                            <div class="section-box-text">
                                <h3>Wooden Pawns</h3>
                            </div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="section-box1">
                            <div class="section-box-pic">
                                <img src="/img/STKRHUB/GAME-PIECES/Game Pawns/Small Headed Wooden Pawn/Small Headed Wooden Pawn.jpg" alt="">
                            </div>
                            <div class="section-box-text">
                                <h3>Small Headed
                                    Wooden Pawn</h3>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
      </main>


      <my-footer></my-footer>

    </div>

    <script src="/js/main.js"></script>  
    <script src="/js/login.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/subnav.js"></script>
    <script src="/js/footer.js"></script> 
    <script>

    </script>
  </body>
</html>
