<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="title">Micro Game Deck Custom Blank Cards</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/customupload.css" />

    <!-- icon -->
    <link rel="shortcut icon" type="image" href="/img/logo.png">

    <!-- fonts -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link
      href="https://fonts.cdnfonts.com/css/sf-pro-display"
      rel="stylesheet"
    />
    <link
      href="https://fonts.cdnfonts.com/css/akira-expanded"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link
      href="https://fonts.cdnfonts.com/css/sf-compact-display"
      rel="stylesheet"
    />

    <!-- for text-spinner -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <style>
        .preview{
            display: block;
            width: 335px;
            height: 447px;
            border: 1px solid rgb(255, 255, 255);
            margin-top: 10px;
            text-align: center; /* Added to center the text */
            line-height: 150px; /* Added to vertically center the text */

            display: flex;
            justify-content: center;
            align-items: center;
            
            background-image: url(/img/Micro\ Game\ Deck\ Custom\ Blank\ Cards.png);
            background-size: 100% 100%;
        }

        .frontback{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #15172F;
            
        }
    </style>
  </head>

  <body>
    <div class="container">
      <my-header-for-components></my-header-for-components>

      <!-- <my-subnav></my-subnav> -->

      <main>
        <div class="container-main">
          <h2 class="component-name" id="component-name">
            Micro Game Deck Custom Blank Cards
          </h2>

          <div class="container-upload">
            <div class="upper">
                <p class="description">
                    File types accepted: jpg, jpeg, bmp, png, gif, tif and tiffMin resolution 447 x 597 pixels (300DPI) | Max file size 300MB
                </p><br>
            </div>

            <div class="mid">
                <h4>Dimenssions: 32mm x 45mm, 1.25" x 1.75"</h4><br>

                <div class="div-card">
                    <h3 class="frontback">Front</h3>
                    <input class="imgupload" type="file" name="fileImg" id="fileImg">
                    <form method="post" action="" enctype="multipart/form-data">
                        
                        <div class="preview" id="previewDiv">
                          
                        </div>
                        <br>
                        
                        <button class="btn" type="button" onclick="clearImage();">Clear Picture</button> <!-- Added clear button -->
                        <!-- <button type="button" onclick="submitData();">Submit</button> -->
                      </form>
                </div><br><br>

                <div class="div-card">
                    <h3 class="frontback">Back</h3>
                    <input class="imgupload" type="file" name="fileImg" id="fileImg">
                    <form method="post" action="" enctype="multipart/form-data">
                        
                        <div class="preview" id="previewDiv">
                          
                        </div>
                        <br>
    
                        
                        <button class="btn" type="button" onclick="clearImage();">Clear Picture</button> <!-- Added clear button -->
                        <!-- <button type="button" onclick="submitData();">Submit</button> -->
                      </form>
                </div><br><br>


            </div>

            <div class="lower">
                <h4>Please review your design carefully before finalizing your order as it will be printed without any additional editing by our team.</h4>
                <input type="checkbox" id="copyright" name="vehicle1" value="Bike">
                <label for="vehicle1">Yes, I confirm that all the images, names and other content added onto my design are correct and I that I own all copyrights for them or have full authorization to use them.</label><br>
            </div>

            <div class="low">
                <button type="" class="cancel" id="custom-upload-cancel">
                    Cancel
                </button>

                <button type="submit" class="submit" id="custom-upload-add-to-cart">
                    Add to Cart
                </button>
            </div>
          </div>

        </div>
      </main>


      <my-footer></my-footer>

    </div>

    <script src="/js/header.js"></script>
    <script src="/js/subnav.js"></script>
    <script src="/js/footer.js"></script> 

    <script>
        // Preview
        fileImg.onchange = evt => {
          const [file] = fileImg.files;
          if (file) {
            $('#previewDiv').text(''); // Clear the dimensions text
            var reader = new FileReader();
            reader.onload = function(e) {
              $('#previewDiv').html('<img src="' + e.target.result + '" style="width: 100%; height: 100%;" />');
            }
            reader.readAsDataURL(file);
          } else {
            $('#previewDiv').html('exactly 350 x 150 pixels'); // Display dimensions text
          }
        }

        // Submit
        function submitData() {
          $(document).ready(function(){
            var formData = new FormData();
            var files = $('#fileImg')[0].files;
            formData.append('fileImg', files[0]);

            $.ajax({
              url: 'function.php',
              type: 'post',
              data: formData,
              contentType: false,
              processData: false,
              success: function(response) {
                if(response == "Success") {
                  alert("Successfully Added");
                }
                else if(response == "Invalid Extension") {
                  alert("Invalid Extension");
                }
                else {
                  alert("Please Fill Out The Form");
                }
              }
            });
          });
        }

        // Clear image
        function clearImage() {
          $('#img').attr('src', ''); // Clears the source of the image
          $('#fileImg').val(''); // Clears the file input value
          $('#previewDiv').html(''); // Display dimensions text
        }
    </script>
    
    <script>

      // component name =  title page
      const title = document.querySelector("#title");
      const componentName = document.querySelector('#component-name');
      title.innerHTML = componentName.innerHTML;

    </script>
  </body>
</html>
