<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="title">All Components</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/allcomponents.css" />

    <!-- icon -->
    <link rel="shortcut icon" type="image" href="/img/logo.png">

    <!-- fonts -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link
      href="https://fonts.cdnfonts.com/css/sf-pro-display"
      rel="stylesheet"
    />
    <link
      href="https://fonts.cdnfonts.com/css/akira-expanded"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link
      href="https://fonts.cdnfonts.com/css/sf-compact-display"
      rel="stylesheet"
    />

    <!-- for text-spinner -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>

  <body>
    <div class="container">
      <my-header></my-header>

      <!-- <my-subnav></my-subnav> -->

      <main>
        <div class="container-main">
            <h2 class="component-name" id="component-name">
            All Components
            </h2>
            
            <div class="body">
                <div class="content">
                    <a href="/html/components/Game Boxes/all-gameboxes.html">
                        <div class="section-box1">
                            <div class="section-box-text">
                                <h3>Game Boxes</h3>
                                <p>
                                    Build game box to store all game parts and game accessories.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a href="/html/components/Card Boxes/all-cardboxes.html">
                        <div class="section-box2">
                            <div class="section-box-text">
                                <h3>Card Boxes</h3>
                                <p>
                                    Build card box to store all cards.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a href="/html/components/Game Boards/all-gameboards.html">
                        <div class="section-box3">
                            <div class="section-box-text">
                                <h3>Game Boards</h3>
                                <p>
                                    Custom Game Boards in different size for your board game production.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a href="/html/components/Game Cards/all-gamecards.html">
                        <div class="section-box4">
                            <div class="section-box-text">
                                <h3>Game Cards</h3>
                                <p>
                                    Create your own game cards with your own artwork.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="content">
                    <a href="/html/components/Dice/dice.html">
                        <div class="section-box5">
                            <div class="section-box-text">
                                <h3>Dice</h3>
                                <p>
                                    Dice
                                </p>
                            </div>
                        </div>
                    </a>

                    <a href="/html/components/Rule Book/all-rulebook.html">
                        <div class="section-box6">
                            <div class="section-box-text">
                                <h3>Rulebook</h3>
                                <p>
                                    Make your own guidebook for your game.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a href="/html/components/Game Pieces/all-pawns.html">
                        <div class="section-box7">
                            <div class="section-box-text">
                                <h3>Wooden Pawns</h3>
                                <p>
                                    Choose game pieces that matches the style of your game.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a href="/html/components/Game Pieces/timer.html">
                        <div class="section-box8">
                            <div class="section-box-text">
                                <h3>Game Timer</h3>
                                <p>
                                    Choose timer that matches to your game needs
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
      </main>


      <my-footer></my-footer>

    </div>

    <script src="/js/main.js"></script>  
    <script src="/js/login.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/subnav.js"></script>
    <script src="/js/footer.js"></script> 
    <script>

    </script>
  </body>
</html>
