<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="title">Home</title>

    <!-- css -->
    <link rel="stylesheet" href="../../css/component.css" />

    <!-- icon -->
    <link rel="shortcut icon" type="image" href="../../img/logo.png">

    <!-- fonts -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link
      href="https://fonts.cdnfonts.com/css/sf-pro-display"
      rel="stylesheet"
    />
    <link
      href="https://fonts.cdnfonts.com/css/akira-expanded"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link
      href="https://fonts.cdnfonts.com/css/sf-compact-display"
      rel="stylesheet"
    />

    <!-- for text-spinner -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  
  <body>
    <div class="container">
      <my-header></my-header>

      <!-- naka hide tong part na toh, wag idelete -->
      <div id="sub-nav">      
        <nav id="nav-sub-nav">
          <ul>
            <li><a href="#">Creation <img src="./img/right-arrow.png" alt="" class="sub-nav-icon"></a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Market Games</a></li>
          </ul>
        </nav>
      </div>

      <div class="title">
        <h1>Plain Blank Game Boxes</h1>
      </div>

      <div class="main-content">

        <a href="#"><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Card Game Boxes 200 Cards/Plain Card Game Boxes 200 Cards.jpg"
            alt="">
            <p>Plain Card Game Boxes
                200 Cards</p>
        </div></a>

        <a href="#"><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Game Box For Two Card Decks 4.8X3.7X0.7/Plain Game Box For Two Card Decks 4.8X3.7X0.7.jpg"
            alt="">
            <p>Plain Game Box For
                Two Card Decks
                4.8"X3.7"X0.7"</p>
        </div></a>

        <a href=""><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Game Card Box 300 Cards/Plain Game Card Box 300 Cards.jpg"
            alt="">
            <p>Plain Game Card Box
                300 Cards</p>
        </div></a>

        <a href="#"><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Double Poker Box 140X102X35mm/Plain Double Poker Box 140X102X35mm.jpg"
            alt="">
            <p>Plain Double Poker Box
                140X102X35mm</p>
        </div></a>
      </div>

      <div class="main-content">

        <a href="#"><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/White Game Box 5.5X5.5X2/White Game Box 5.5X5.5X2.jpg"
            alt="">
            <p>White Game Box
              5.5X5.5X2"</p>
        </div></a>

        <a href="#"><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Game Box 5.5X5.5X3/Plain Game Box 5.5X5.5X3.jpg"
            alt="">
            <p>Plain Game Box
              5.5X5.5X3"</p>
        </div></a>

        <a href=""><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Game Card Box 500 Cards/Plain Game Card Box 500 Cards.jpg"
            alt="">
            <p>Plain Game Card Box
              500 Cards</p>
        </div></a>

        <a href="#"><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Medium Square Game Box 3 Height/Plain Medium Square Game Box 3 Height.jpg"
            alt="">
            <p>Plain Medium Square Game Box 3" Height</p>
        </div></a>
      </div>

      <div class="main-content">

        <a href="#"><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Medium Square Game Box 2 Height/Plain Medium Square Game Box 2 Height.jpg"
            alt="">
            <p>Plain Medium Square Game Box 2" Height</p>
        </div></a>

        <a href="#"><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Card Game Boxes 200 Cards/Plain Card Game Boxes 200 Cards.jpg"
            alt="">
            <p>Plain Game Box For
                Two Card Decks
                4.8"X3.7"X0.7"</p>
        </div></a>

        <a href=""><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Rectangular Game Boxes 2 Height/Plain Rectangular Game Boxes 2 Height.jpg"
            alt="">
            <p>Plain Rectangular Game Boxes 2" Height</p>
        </div></a>

        <a href="#"><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Large Square Game Box 2 Height/Plain Large Square Game Box 2 Height.jpg"
            alt="">
            <p>Plain Large Square Game Box 2" Height</p>
        </div></a>
      </div>

      <div class="main-content">

        <a href="#"><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Large Square Game Box 3 Height/Plain Large Square Game Box 3 Height.jpg"
            alt="">
            <p>Plain Large Square Game Box 3" Height</p>
        </div></a>

        <a href="#"><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Square Game Box 11.6X11.6/Plain Square Game Box 11.6X11.6.jpg"
            alt="">
            <p>Plain Square Game Box 11.6"X11.6"</p>
        </div></a>

        <a href=""><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Game Box 12.4X8.8X3/Plain Game Box 12.4X8.8X3.jpg"
            alt="">
            <p>Plain Game Box 12.4"X8.8"X3"</p>
        </div></a>

        <a href="#"><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Medium Rectangular Game Boxes 3 Height/Plain Medium Rectangular Game Boxes 3 Height.jpg"
            alt="">
            <p>Plain Medium Rectangular Game Boxes 3" Height</p>
        </div></a>
      </div>

      <div class="main-content">

        <a href="#"><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Card Game Boxes 200 Cards/Plain Card Game Boxes 200 Cards.jpg"
            alt="">
            <p>Plain Extra Large Game
              Box 2" Height</p>
        </div></a>

        <a href="#"><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Card Game Boxes 200 Cards/Plain Card Game Boxes 200 Cards.jpg"
            alt="">
            <p>Plain Large Rectangular
              Game Boxes 3" Inch</p>
        </div></a>

        <a href=""><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Card Game Boxes 200 Cards/Plain Card Game Boxes 200 Cards.jpg"
            alt="">
            <p>Plain Large Rectangular
              Game Boxes 2" Inch</p>
        </div></a>

        <a href="#"><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Card Game Boxes 200 Cards/Plain Card Game Boxes 200 Cards.jpg"
            alt="">
            <p>Plain Large Rectangular
              Game Boxes 3" Inch</p>
        </div></a>
      </div>

      <div class="main-content">

        <a href="#"><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Extra Large Rectangular Game Box 2 Height/Plain Extra Large Rectangular Game Box 2 Height.jpg"
            alt="">
            <p>Plain Extra Large Rectangular Game Box 2" Height</p>
        </div></a>

        <a href="#"><div class="sub-content">
            <img src="../../img/STKRHUB/CUSTOM-GAME-BOXES/Blank Game Boxes/Plain Extra Large Rectangular Game Box 3 Height/Plain Extra Large Rectangular Game Box 3 Height.jpg"
            alt="">
            <p>Plain Extra Large Rectangular Game Box 3" Height</p>
        </div></a>

      </div>
      
      <my-footer></my-footer>
    </div>
    
    <script src="./js/main.js"></script>  
    <script src="./js/login.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/subnav.js"></script>
    <script src="../../js/footer.js"></script>      
    
  </body>
</html>
